.containerAV {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 80%;
}

.container {
    display: flex;
  align-items: center;
  justify-content: center;
}

.c {
    justify-content: space-between;
}
