.currentU-container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
  }
  
  .currentU-header-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 0.2em solid black;
  }
  
  .update-con{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
  }

  .data-con{
    display: flex;
    text-align: left;
  }

  .wrapperLeft {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 80%;
  }

  .title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }

  .item1{
    grid-row: 1;
    justify-self: start;
  }

  .item2{
    grid-row: 2;
  }
  .item3{
    grid-row: 3;
    justify-self: start;
  }
  .item4{
    grid-row: 4;
    justify-self: start;
  }
  .item5{
    grid-row: 5;
    justify-self: start;
  }
  .item6{
    grid-row: 6;
    justify-self: start;
  }
  .item7{
    grid-row: 7;
    justify-self: start;
  }
  .item8{
    grid-row: 8;
    justify-self: start;
  }

  .right{
    grid-column: 2;
  }

  .wrapperRight {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
  }

